<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lu.fisch.canze" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".WidgetActivity"
            android:label="@string/title_activity_widget" >
        </activity>
        <activity
            android:name=".TachoActivity"
            android:label="@string/title_activity_tacho" >
        </activity>
        <activity
            android:name=".ChargingActivity"
            android:label="@string/title_activity_charging" >
        </activity>
        <activity
            android:name=".DrivingActivity"
            android:label="@string/title_activity_driving" >
        </activity>
        <activity
            android:name=".BatteryTempActivity"
            android:label="@string/title_activity_battery_temp" >
        </activity>
        <activity
            android:name=".BatteryVoltageActivity"
            android:label="@string/title_activity_battery__voltage_" >
        </activity>
        <activity
            android:name=".BrakingActivity"
            android:label="@string/title_activity_braking" >
        </activity>
        <activity
            android:name=".LeafSpyActivity"
            android:label="@string/title_activity_leaf_spy" >
        </activity>
        <activity
            android:name=".TestX10Activity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".ElmTestActivity"
            android:label="@string/title_activity_elm_test" >
        </activity>
    </application>

</manifest>
