<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lu.fisch.canze"
    android:installLocation="auto">
    <!-- <uses-sdk android:minSdkVersion="11" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.SettingsCustomActivity"
            android:label="@string/title_activity_settingscustom"/>
        <activity
            android:name=".activities.WidgetActivity"
            android:label="@string/title_activity_widget" />
        <activity
            android:name=".activities.ChargingTechActivity"
            android:label="@string/title_activity_charging" />
        <activity
            android:name=".activities.ChargingActivity"
            android:label="@string/title_activity_charging" />
        <activity
            android:name=".activities.DrivingActivity"
            android:label="@string/title_activity_driving" />
        <activity
            android:name=".activities.BrakingActivity"
            android:label="@string/title_activity_braking" />
        <activity
            android:name=".activities.DashActivity"
            android:label="@string/title_activity_dash" />
        <activity
            android:name=".activities.ElmTestActivity"
            android:label="@string/title_activity_elm_test" />
        <activity
            android:name=".activities.FirmwareActivity"
            android:label="@string/title_activity_firmware" />
        <activity
            android:name=".activities.BatteryActivity"
            android:label="@string/title_activity_battery" />
        <activity
            android:name=".activities.DtcActivity"
            android:label="@string/title_activity_dtc" />
        <activity
            android:name=".activities.HeatmapBatcompActivity"
            android:label="@string/title_activity_heatmap_bat" />
        <activity
            android:name=".activities.HeatmapCellvoltageActivity"
            android:label="@string/title_activity_heatmap_cellvoltage" />
        <!--
 <activity
            android:name=".activities.FluenceKangooTempsActivity"
            android:label="@string/title_activity_fluence_kangoo_temp" />
        -->
        <activity
            android:name=".activities.TiresActivity"
            android:label="@string/title_activity_tires" />
        <activity
            android:name=".activities.ChargingGraphActivity"
            android:label="@string/title_activity_charging_graph" />
        <activity
            android:name=".activities.ClimaTechActivity"
            android:label="@string/title_activity_clima_tech" />
        <activity
            android:name=".activities.PredictionActivity"
            android:label="@string/title_activity_prediction" />
        <activity
            android:name=".activities.RangeActivity"
            android:label="@string/title_activity_range" />
        <activity
            android:name=".activities.LeakCurrentsActivity"
            android:label="@string/title_activity_leakCurrents" />
        <activity
            android:name=".activities.ChargingHistActivity"
            android:label="@string/title_activity_charging_history" />
        <activity
            android:name=".activities.AuxBattTechActivity"
            android:label="@string/title_activity_auxbatt" />
        <activity android:name=".activities.LoggingActivity" />
        <activity
            android:name=".activities.ConsumptionActivity"
            android:label="@string/title_activity_consumption" />
        <activity
            android:name=".activities.AllDataActivity"
            android:label="@string/title_activity_alldata" />
        <activity
            android:name=".activities.SpeedcontrolActivity"
            android:label="@string/title_activity_speedcontrol" />
        <activity
            android:name=".activities.FieldTestActivity"
            android:label="@string/title_activity_fieldtest" />
        <activity
            android:name=".activities.ResearchActivity"
            android:label="@string/title_activity_research" />
        <activity
            android:name=".activities.TwingoTestActivity"
            android:label="T III Ph2 test" />
        <activity
            android:name=".activities.TwizyTestActivity"
            android:label="Tw test" />
        <activity
            android:name=".activities.CanSeeActivity"
            android:label="CanSee"/>
    </application>

</manifest>