<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lu.fisch.canze">

    <!-- <uses-sdk android:minSdkVersion="11" /> -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.WidgetActivity"
            android:label="@string/title_activity_widget" />
        <activity
            android:name=".activities.ChargingTechActivity"
            android:label="@string/title_activity_charging" />
        <activity
            android:name=".activities.ChargingActivity"
            android:label="@string/title_activity_charging" />
        <activity
            android:name=".activities.DrivingActivity"
            android:label="@string/title_activity_driving" />
        <activity
            android:name=".activities.BrakingActivity"
            android:label="@string/title_activity_braking" />
        <activity
            android:name=".activities.LeafSpyActivity"
            android:label="@string/title_activity_leaf_spy" />
        <activity
            android:name=".activities.ConsumptionActivity"
            android:label="@string/title_activity_consumption" />
        <activity
            android:name=".activities.ElmTestActivity"
            android:label="@string/title_activity_elm_test" />
        <activity
            android:name=".activities.FirmwareActivity"
            android:label="@string/title_activity_firmware" />
        <activity
            android:name=".activities.BatteryActivity"
            android:label="@string/title_activity_battery" />
        <activity
            android:name=".activities.DtcActivity"
            android:label="@string/title_activity_dtc" />
        <activity
            android:name=".activities.HeatmapBatcompActivity"
            android:label="@string/title_activity_heatmap_bat" />
        <activity
            android:name=".activities.HeatmapCellvoltageActivity"
            android:label="@string/title_activity_heatmap_cellvoltage" />
        <activity
            android:name=".activities.FluenceKangooTempsActivity"
            android:label="@string/title_activity_fluence_kangoo_temp" />
        <activity
            android:name=".activities.TyresActivity"
            android:label="@string/title_activity_tyres" />
        <activity
            android:name=".activities.ChargingGraphActivity"
            android:label="@string/title_activity_charging_graph" />
        <activity
            android:name=".activities.ClimaTechActivity"
            android:label="@string/title_activity_clima_tech" />
        <activity
            android:name=".activities.PredictionActivity"
            android:label="@string/title_activity_prediction" />
        <activity
            android:name=".activities.RangeActivity"
            android:label="@string/title_activity_range" />
        <activity
            android:name=".activities.ChargingHistActivity"
            android:label="@string/title_activity_charging_history" />
    </application>

</manifest>
